{% extends 'layout.html.twig' %}

{% block title %}
    Bienvenue sur Orizon!
{% endblock %}

{% block child_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
    <script type="text/javascript" >
      particlesJS.load('particles-js', 'particles.json', function() {
            console.log('callback - particles.js loaded...');
        });
    </script>
{% endblock %}

{% block body %}
    <div id="particles-js"></div>

    <div class="signupSection">
        <div class="info">
            <h2>Une mission pour être le meilleur </h2>
            <p>Ton Futur Esportif est là</p>
            <p>Si tu souhaites te connecter clique <a href={{ path('login') }}>ici</a></p>
            <img src="{{ asset('css/orizon_logotest.png') }}" alt="">

        </div>
        {{ form_start(form, {'METHOD': 'POST'}, {'label_attr': {'class:':'signupForm'}}) }}
        <h2>S'inscrire</h2>
        <ul class="noBullet">
            <li>
                <label for="email"></label>
                {{ form_row(form.email, {'label_attr': {'id': 'email', 'name':'email'}},  oninput="return userNameValidation(this.value)") }}
            </li>
            <li>
                {% for label, messages in app.flashes %}
                    {% for message in messages  %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
                <label for="password"></label>
                {{ form_row(form.Password, {'label_attr': {'class':'inputFields', 'id': 'password', 'name':'password'}},  oninput="return passwordValidation(this.value)") }}
            </li>
            <li id="center-btn">
                {{ form_row(form.submit) }}
            </li>
        </ul>
        {{ form_end(form) }}
    </div>

{% endblock %}
