{% extends "layout.html.twig" %}

{% block child_css %}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('css/inscription.css') }}"/>#}
{% endblock %}

{% block body %}
    <div id="particles-js"></div>


    <div class="signupSection">
        <div class="info">
            <h2>Tu as qu'une chose à faire pour participer à ton avenir</h2>
            <p>Connecte toi pour accéder à toutes les fonctionnalités de Orizon.gg ! </p>

            <p>Si tu souhaites t'inscrire clique <a href={{ path('inscription') }}>ici</a></p>
        </div>
        <form  action="{{ path('login') }}" method="post" class="signupForm">
            <ul class="noBullet">
                <li>
                    <label for="email"></label>
                    <div class="form-group">
                        <label id="email" for="inscription_email" class="form-control-label required">Insérez votre Email</label>
                        <input type="email" placeholder="Email" class="inputFields form-control" id="email" name="_username" value="{{ last_username }}" oninput="return userNameValidation(this.value)"/>
                    </div>
                </li>
                <li>
                    <label for="password"></label>
                    <div class="form-group">
                        <input type="hidden" name="_target_path" value="/coming_soon">
                        <label for="inscription_Password_first" class="form-control-label required">Mot de passe</label>
                        <input type="password" placeholder="Mot de passe" class="inputFields form-control" id="password" name="_password" />
                    </div>
                </li>
                <li id="center-btn">
                    <div class="form-group">
                        <button type="submit" class="btn-secondary btn">Se connecter</button>
                    </div>
                </li>
            </ul>
            <a href="{{ path('forgot_Password') }}"> mot de passe oublié ?</a>

        </form>

    </div>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
    <script type="text/javascript" > particlesJS.load('particles-js', 'particles.json', function() {
        console.log('callback - particles.js loaded...');
      });</script>
{% endblock %}