<div class="col-3">
    <div class="col-12 panel-card text-center">
        <img src="{{ asset('img/about-bg.jpg') }}" alt="" class="sidebar-img-profil">
        <div>
            <p>{{ user.name ~ ' ' ~ user.firstName }}</p>
        </div>
        <div class="vertical-margin">
            <a href="{{ path('logout') }}" class="col-10 col-sm-offset-1 btn btn-danger">Se deconnecter</a>
        </div>
    </div>
    <div class="col-12 panel-card">
        <div class="vertical-margin">
            <p>
                <a href="{{ url('user_profile') }}">Informations</a>
            </p>
        </div>
        <hr class="divider">
        <div>
            <ul>
                <li>
                    <a href="{{ url('user_info_general') }}">Général</a>
                </li>
                <li>
                    <a href="{{ url('user_reseaux_sociaux') }}">Reseaux Sociaux</a>
                </li>
                <li>
                    <a href="#">Ma structure</a>
                </li>
                <li>
                    <a href="#">+</a>
                </li>
            </ul>
        </div>
        <div class="vertical-margin">
            <p>Jeux</p>
        </div>
        <hr class="divider">
        <div>
            <ul>
                <li>
                    <a href="{{ url('user_mes_jeux') }}">Mes jeux</a>
                </li>
                <li>
                    <a href="#">Ajouter un jeu</a>
                </li>
                <li>
                    <a href="#">+</a>
                </li>
            </ul>
        </div>
    </div>
</div>