{% extends 'user/layout.html.twig' %}

{% block user_block %}
    <div class="col-9">
        <div class="col-12 panel-card panel-user">
            {{ form_start(reseauxForm) }}
            <div class="row vertical-margin">
                <div class="col-1">
                    <img src="{{ asset('img/reseaux-sociaux/facebook.svg') }}" alt="Mon compte facebook" class="social-icon">
                </div>
                {{ form_row(reseauxForm.facebook) }}
            </div>
            <div class="row vertical-margin">
                <div class="col-1">
                    <img src="{{ asset('img/reseaux-sociaux/twitter.svg') }}" alt="Mon compte twitter" class="social-icon">
                </div>
                {{ form_row(reseauxForm.twitter) }}
            </div>
            <div class="row vertical-margin">
                <div class="col-1">
                    <img src="{{ asset('img/reseaux-sociaux/twitch.svg') }}" alt="Ma chaine twich" class="social-icon">
                </div>
                {{ form_row(reseauxForm.twitch) }}
            </div>
            {{ form_end(reseauxForm) }}
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

